extends  ../_skeleton

//- Includes
include ../elements/_ui-comment
  
block variables
  - var activeCategory = 'blog'
  - var pageName = 'Blog'

block page
  include ../sections/_header-classic

  +breadcrumbs({
    category: activeCategory,
    path: [pageName],
    bgImage: 'bg-image-1-1920x238'
  })
     
  // Blog
  section.section.section-lg.bg-white.text-center
    .container
      article.blog-layout
        .blog-layout__main
          // Post Classic
          article.post-classic
            h3.post-classic__title: a(href=postLink) Business Outlook – Languages To Know In 2019
            ul.post-classic__meta
              li
                span.icon.mdi.mdi-calendar-blank
                a(href=postLink): time(datetime='2019') May 12, 2019
              li
                span.icon.mdi.mdi-comment-outline
                a(href=postLink) 3 comments
              li
                span.icon.mdi.mdi-account
                span by
                a(href='#') John Doe
                
            .post-classic__media
              a.post-classic__figure(href=postLink)
                +jpg('blog-post-1-715x417', 'post-classic__image')
                
          // Post Classic
          article.post-classic
            h3.post-classic__title: a(href=postLink) The Real Value of Professional Translations
            ul.post-classic__meta
              li
                span.icon.mdi.mdi-calendar-blank
                a(href=postLink): time(datetime='2019') May 12, 2019
              li
                span.icon.mdi.mdi-comment-outline
                a(href=postLink) 3 comments
              li
                span.icon.mdi.mdi-account
                span by
                a(href='#') John Doe
                
            .post-classic__media
              a.post-classic__figure(href=postLink)
                +jpg('blog-post-2-715x417', 'post-classic__image')
                
          // Post Classic
          article.post-classic 
            h3.post-classic__title: a(href=postLink) Are Professional Translators Creative?
            ul.post-classic__meta
              li
                span.icon.mdi.mdi-calendar-blank
                a(href=postLink): time(datetime='2019') May 12, 2019
              li
                span.icon.mdi.mdi-comment-outline
                a(href=postLink) 3 comments
              li
                span.icon.mdi.mdi-account
                span by
                a(href='#') John Doe
                
            .post-classic__media
              a.post-classic__figure(href=postLink)
                +jpg('blog-post-3-715x417', 'post-classic__image')
                
          .pagination
            .pagination__control: a(href='#') Older posts
            ul.pagination__list
              li: a(href='#') 1
              li.active: a(href='#') 2
              li: a(href='#') 3
            .pagination__control: a(href='#') Newer posts
             
            
        include ../includes/_blog-aside
  ="\n"

  // Page Footer
  include ../sections/_footer-classic

